main{
  background-image: linear-gradient(180deg, black, white);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

body{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

ul{
  list-style: none;
}
.navlinks{
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  /*padding-top: 200px;*/
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
}
.navlinks a{
  color: white;
  text-decoration: none;
  font-size: 3em;
}
