main{
  background-image: linear-gradient(180deg, rgb(160, 138, 118), white);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
#portfolio{
  height: 80%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.item{
  height: 80%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.carousel-control.left{
  background-image: none;
}
.carousel-control.right{
  background-image: none;
}
#caption{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  font-size: 2em;
}
.navlinks{
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 200px;
  /*padding-top: 200px;*/
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
}
.navlinks a{
  color: black;
  text-decoration: none;
  font-size: 3em;
}
