main{
  background-image: linear-gradient(180deg, white, black);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
#oil{
  height: 50%;
  background-image: linear-gradient(180deg, pink, pink);
}
#other{
  height: 50%;
  background-image: linear-gradient(180deg, pink, grey);
}
#art{
  height: 50%;
  background-image: linear-gradient(180deg, grey, red);
}
#home{
  height: 50%;
  background-image: linear-gradient(180deg, grey, black);
}
.navlinks{
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  /*margin-top: 200px;*/
  padding-top: 100px;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  /*opacity: 0.5;*/
}
.navlinks a{
  color: white;
  text-decoration: none;
  font-size: 3em;
}
