body {
  font-family: 'Courier New', Courier, monospace;
}

div {
  max-width: 800px;
  margin-bottom: 8px;
}

ul {
  max-width: 800px;
}

li {
  max-width: 800px;
  margin-bottom: 8px;
}

.pageHeader {
  display: flex;
  padding: 16px;
  gap: 16px;
}

.imagePlaceholderWrapper {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.imagePlaceholder {
  border: 1px solid #000;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.todo {
  padding: 16px;
  font-size: 12px;
  color: #f00;
}
