body{
  margin: 0;
  font-family: 'Inconsolata', monospace;
  background-color: #fff;
  color: #000;
}
@media (min-width: 450px) {
  #content {
    display: flex;
  } 
}
#faceplaceholder{
  background-color: #46b9f2;
}
@media (min-width: 450px) {
  #faceplaceholder{
    max-width: 50%;
    height: min-content;
  }
}
#myface{
  max-width: 100%;
  height: auto;
  opacity: 0;
  margin-bottom: -4px;
}
#about{
  padding: 20px;
}
.myname{
  font-size: 20px;
  padding: 20px;
}
.contactlist{
  padding-left: 20px;
}
ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
}
#projects{
  padding: 20px;
}

.project{
  padding-left: 20px;
  padding-bottom: 20px;
}
