body {
  font-family: 'Courier New', Courier, monospace;
}

marquee {
  margin: 16px 0px;
}

div {
  max-width: 800px;
  margin-bottom: 8px;
}

ul {
  max-width: 800px;
}

li {
  max-width: 800px;
  margin-bottom: 8px;
}

.pageHeader {
  display: flex;
  gap: 32px;
}

.imagePlaceholderWrapper {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
}

.imagePlaceholder {
  border: 1px solid #000;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.todo {
  font-size: 14px;
  color: #f00;
}

.image-container {
  width: 400px;
}

.video-container iframe {
  height: 500px;
}

@media (max-width: 650px) {
  body {
    margin: 0px 24px 0px 16px;
  }

  .pageHeader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }

  .imagePlaceholderWrapper {
    width: unset;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    width: 100%;
    max-width: 400px;
  }

  .video-container iframe {
    height: 300px;
  }

  ul {
    padding-inline-start: 8px;
  }
}
