a{
  color: black;
  text-decoration: none;
}
#myname{
  font-weight: 200;
  font-size: 2em;
  padding: 0.5%;
  margin: 0.5%;
  display: block;
}
#description{
  font-size: 1em;
  font-weight: 100;
  margin: 0.5%;
  padding: 0.5%;
}
#navdiv{
  padding-left: 0.5%;
  margin-left: 0.5%;
  margin-bottom: 2%;
}
#smallnav {
  font-family: serif;
  font-size: 1em;
  color: black;
  border-image: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#dropdown-content a {
  /*font-family: 'Tangerine', cursive;*/
  font-family: serif;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  padding-left: 0.5%;
  margin-left: 0.5%;
  margin-bottom: 2%;
  cursor: pointer;
}
#dropdown-content a:hover {
  color: red;
}
.gallery {
  width: 80%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}
.about{
  font-family: serif;
  font-size: 0.5em;
}
.loading{
  position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loadinggif2.gif) center no-repeat #fff;
}
.hidden {
  display: none;
}
.activepage{}
h3{
  font-family: serif;
  font-size: 1em;
  font-weight: 100;
  margin: 0.5%;
  padding: 0.5%;
}
h3 a:hover{
  color: red;
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.reveal {
  animation: reveal;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

#smallnav {
  /*font-family: 'Tangerine', cursive;*/
  font-family: serif;
  font-size: 1em;
  color: black;
  border-image: none;
  background-color: white;
  border: none;
  cursor: pointer;
  padding-left: 0.5%;
}
#smallnav:hover {
  color: red;
}

.thumbnail {
  max-width: 200px;
  max-height: 200px;
  padding-left: 50px;
  padding-bottom: 50px;
  cursor: pointer;
}
#bign {
  max-width: 80%;
  height: auto;
  margin-top: 2%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#caption {
  font-family: serif;
  font-size: 1.5em;
}

#caption #title {
  font-size: 2em;
  font-style: italic;
}


.full{
  width: 90%;
  position: relative;
  float: left;
}

@media (max-width: 600px){
  #dropdown-content a {
    display: block;
  }
  #navdiv{
    padding-left: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 2%;
  }
  #smallnav{
    margin-bottom: 2%;
    padding-bottom: 5%;
  }
  .subhead {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #bign {
    width: 90%;
  }
  #preview {
    display:none;
  }
  .gallery {
    width: 90%;
    margin-top: 1%;
  }
  .thumbnail {
    max-width: 90%;
    height: auto;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .oilthumb {
    max-width: 90%;
    height: auto;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .otherthumb {
    max-width: 90%;
    height: auto;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
