main{
  background-image: linear-gradient(180deg, white, black);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
.navlinks{
  box-sizing: border-box;
  text-align: center;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;

}
.navlinks a{
  color: white;
  text-decoration: none;
  font-size: 3em;
}
#about{
  height: 90%;
  background-image: linear-gradient(180deg, black, grey);
}
#gallery{
  height: 90%;
  background-image: linear-gradient(180deg, grey, red);
}
#sueme{
  height: 90%;
  background-image: linear-gradient(180deg, red, black);
}
#alm{
  height: 90%;
  background-image: linear-gradient(180deg, black, grey);
}
#top{
  height: 70%;
  background-image: linear-gradient(180deg, grey, white);
}
@media (max-width: 1000px){
  .navlinks{
    box-sizing: border-box;
    padding-top: 400px;
    font-size: 100px;
  }
}
