a{
  color: black;
  text-decoration: none;
}
#myname{
  font-family: 'Crimson Text', serif;
  font-weight: 200;
  font-size: 2em;
  padding: 0.5%;
  margin: 1%;
}
#myname:hover{
  color: #fb00ff
}
#description{
  font-family: 'Crimson Text', serif;
  font-size: 1em;
  font-weight: 100;
  margin-left: 1%;
  padding-left: 0.5%;
}
#navdiv{
  margin: 1%;
}
#smallnav {
  font-family: 'Crimson Text', serif;
  font-size: 1em;
  color: black;
  border-image: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 2%;
}
#dropdown-content{
  margin-left: 1%;
  padding-left: 0.5%;
  margin-bottom: 2%;
}
#dropdown-content a {
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#dropdown-content a:hover {
  color: #ec9fff;
}
.navlink{
  margin-right: 1.5%;
}
#gallery {
  width: 100%;
  margin: 1.5%;
}
.about{
  font-family: 'Crimson Text', serif;
  font-size: 0.5em;
}
.loading{
  position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loadinggif2.gif) center no-repeat #fff;
}
.hidden {
  display: none;
}
.activepage{}
h3{
  font-family: 'Crimson Text', serif;
  font-size: 1em;
  font-weight: 100;
  margin: 0.5%;
  padding: 0.5%;
}
h3 a:hover{
  color: #ec9fff;
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.reveal {
  animation: reveal;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#smallnav {
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  color: black;
  border-image: none;
  background-color: white;
  border: none;
  cursor: pointer;
  padding-left: 0.5%;
}
#smallnav:hover {
  color: #e4d1e8
}
#digilink:hover {
  color: #fb6dfd;
}
#weblink:hover {
  color: #fb6dfd;
}
#illulink:hover {
  color: #fb6dfd;
}
#anilink:hover {
  color: #fb6dfd;
}
#oillink:hover {
  color: #fb6dfd;
}
#sculplink:hover {
  color: #fb6dfd;
}
.thumbnail {
  max-width: 200px;
  max-height: 200px;
  padding-right: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
#bign {
  max-width: 80%;
  height: auto;
  margin: 1.5%;
  cursor: pointer;
}
.captiontitle {
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  margin: 1.5%;
}
.caption {
  font-family: 'Crimson Text', serif;
  font-size: 1em;
  margin: 1.5%;
}
#aboutdiv{
  margin: 1.5%;
}
.cvheader{
  font-family: 'Crimson Text', serif;
}
.cvtext{
  font-family: 'Crimson Text', serif;
}
@media (max-width: 600px){
  #dropdown-content a {
    display: block;
  }
  #navdiv{
    padding-left: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 2%;
  }
  #smallnav{
    margin-bottom: 2%;
    padding-bottom: 5%;
  }
  #bign {
    width: 90%;
  }
  #preview {
    display:none;
  }
  #gallery {
    width: 90%;
    margin: 1.5%;
  }
  .thumbnail {
    max-width: 90%;
    height: auto;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
