.main{
  background-color: red;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
nav{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  height: 20%;
  border-bottom: solid 1px rgb(100, 100, 100);
}
.icon{
  height: 400px;
  width: 400px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
a{
  color: white;
}
.navlinks{
  margin: 20px;
  text-decoration: none;
}
.maintext{
  background-color: rgba(0, 0, 0, 0.4);
  width: 70%;
  padding: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
footer{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
