main{
  background-image: linear-gradient(180deg, red, black);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
  overflow-y: scroll;
}
#logo{
  text-align: center;
  margin-top: 50px;
}
.icon{
  margin: 10px;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.navlinks{
  box-sizing: border-box;
  text-align: center;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
}
.navlinks a{
  color: white;
  text-decoration: none;
  font-size: 3em;
}
#maintext{
  background-color: rgba(0, 0, 0, 0.4);
  width: 40%;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
#appbadge{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
#git{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

@media (max-width: 1000px){
  main{
    background-image: linear-gradient(180deg, black, red);
  }
}
