.title{
  font-family: 'Orbitron', sans-serif;
  font-size: 36px;
  margin: 5%;
}

.lead{
  font-family: 'Quicksand', sans-serif;
  padding: 10px;
  font-size: 20px;
}

.text{
  font-family: 'Exo', sans-serif;
}

.ghosty{
  width: 250px;
  height: 250px;
}
@keyframes fader {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0.1;
  }
}

.fader {
  animation: fader;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
