img,
figure,
iframe {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

figcaption,
h1 {
    text-align: center;
}

pre {
    text-wrap: auto;
    background-color: #F0F0F0;
    width: auto;
}
